<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chewy.fwd.service.MemberMapper">
	
	<select id="selectEmail" resultType="memberVo">
		SELECT M_EMAIL FROM member WHERE M_EMAIL=#{m_email} 
	</select>
	
	<select id="selectNo" resultType="memberVo">
		SELECT M_NO FROM member WHERE M_EMAIL=#{m_email}
	</select>
	
	
	<update id="changePw">
		UPDATE member SET M_PASSWORD = #{m_password} WHERE M_NO = #{m_no}
	</update>
	
	<!-- 로그인  -->
<!-- 	<select id="login" resultType="memberVo"> -->
<!-- 		SELECT * FROM member -->
<!-- 		WHERE M_EMAIL = #{m_email} AND M_PASSWORD = #{m_password} -->
<!-- 	</select> -->
	
	<select id="login" resultType="memberVo">
		SELECT M_NO, M_NAME, M_EMAIL, M_CONFIRMPW, M_PHONE, M_ROAD, M_CITY, M_STATE, M_ZIPCODE, M_AUTOSHIP, M_AUTODATE, M_LOGINDATE, M_SECCESSION
		FROM member 
		WHERE M_EMAIL = #{m_email} AND M_PASSWORD = #{m_password}
	
	</select>
	
	
</mapper>