<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chewy.fwd.service.ProductMapper">
	
	<select id="productInfo" resultType="productVo">
		SELECT * FROM product WHERE P_NO = #{p_no}
	</select>
	
	<select id="productImg" resultType="imgVo">
		SELECT * FROM img WHERE P_NO = #{p_no}
	</select>
	
	<select id="selectProduct" parameterType="productVo" resultType="productVo">
		SELECT * FROM product WHERE p_no = #{p_no} ORDER BY p_no DESC
	</select>
	
<!-- ==================================================================== -->		
	<!-- 게시글 목록 조회 selectProductList-->
	<select id="selectProductList" resultType="productVo">
		SELECT p.*, b.* FROM product p, bcategory b, brand br
		WHERE  p.BCT_NO = b.BCT_NO AND  p.B_NO = br.B_NO 
		<where>
			<if test="searchType == 'p_name' and keyword != null and keyword !=''">
                AND p_name like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType == 'p_img' and keyword != null and keyword !=''">
				AND p_img like CONCAT('%',#{keyword},'%')
			</if>
<!-- 			<if test="searchType == 'productName' and keyword != null and keyword != ''"> -->
<!-- 				AND productName list CONCAT('%', #{keyword}, '%') -->
<!-- 			</if> -->
		</where>
		ORDER BY p_no DESC
		LIMIT #{startList}, #{listSize}
	</select>
	
	
	<!-- 게시글 갯수 -->
	<select id="getProductListCnt" resultType="Integer">
		SELECT count(*) as listCnt
		FROM product
		<where>
			<if test="keyword != null and keyword !=''">
				<if test="searchType =='p_name'">
					AND p_name like CONCAT('%',#{keyword},'%')
				</if>
				<if test="searchType =='p_img'">
					AND p_img like CONCAT('%',#{keyword},'%')
				</if>
<!-- 				<if test="searchType =='productName'">> -->
<!-- 					AND productName like CONCAT('%', #{keyword}, '%') -->
<!-- 				</if> -->
			</if>		
		</where>
	</select>
<!-- ==================================================================== -->	
	
	<insert id="addProduct">
		INSERT INTO product(P_NO, BCT_NO, MCT_NO, SCT_NO, B_NO, P_NAME)
			 VALUES ((SELECT IFNULL(MAX(p_no) + 1, 1) FROM product CT), #{bct_no}, #{mct_no}, ${sct_no}, (SELECT IFNULL(MAX(b_no) + 1, 1) FROM product CT), #{p_name})
	</insert>
	
	<insert id="insertProduct" parameterType="productVo" >
			INSERT INTO product (p_no, bct_no, mct_no, sct_no, b_no, p_name, p_img, p_price, p_total, p_discount, p_star, p_question, p_answer)	 
			VALUES ((SELECT IFNULL(MAX(p_no) + 1, 1) FROM product CT), #{bct_no}, #{mct_no}, #{sct_no}, #{b_no}, #{p_name}, #{p_img}, #{p_price}, #{p_total}, #{p_discount}, #{p_star}, #{p_question}, #{p_answer})
	</insert> 
	
	<update id="updateProduct" parameterType="productVo">
		UPDATE product  
		SET bct_no = #{bct_no},
			mct_no = #{mct_no},
			sct_no = #{sct_no},
			b_no = #{b_no},
			p_name = #{p_name}, 
			p_img = #{p_img}, 
			p_price = #{p_price}, 
			p_total = #{p_total},
			p_discount = #{p_discount}, 
			p_star = #{p_star}, 
			p_question = #{p_question}, 
			p_answer = #{p_answer} 
		WHERE p_no = #{p_no}
	</update>
	
	<delete id="deleteProduct" parameterType="productVo">
		DELETE FROM product WHERE p_no = #{p_no}
	</delete>
	

	
	<select id="bCategoryList" resultType="categoryVo">
		SELECT * FROM bcategory 
	</select>
	
	<select id="mCategoryList" parameterType="map" resultType="categoryVo">
		SELECT * FROM mcategory WHERE ${name} = 1
	</select> 
	
	<select id="sCategoryList" parameterType="map"  resultType="categoryVo">
		SELECT * FROM scategory WHERE ${name} =
			(SELECT rNum 
			FROM (SELECT @rownum:=@rownum + 1 as rNum,
			m1.* FROM mcategory m1, (SELECT @rownum:=0) t2 WHERE ${name} = 1) m2
			WHERE m2.mct_name = #{mctName})

	</select>
	
	<select id="selectBCateList" resultType="categoryVo">
		SELECT * FROM bcategory
	</select>
	
	<select id="selectMCateList" parameterType="map" resultType="categoryVo">
		SELECT COUNT(*) CNT, b.* , m.*
		FROM product p, bcategory b, mcategory m
		WHERE p.BCT_NO = b.BCT_NO AND p.MCT_NO = m.MCT_NO AND p.BCT_NO = ${bno}
		GROUP BY m.MCT_NO
		ORDER BY CNT DESC
	</select>
	
	<select id="selectSCateList" parameterType="map" resultType="categoryVo">
		SELECT COUNT(*) CNT, b.*, m.*, p.SCT_NO, s.*
		FROM product p, bcategory b, mcategory m, scategory s
		WHERE p.BCT_NO = b.BCT_NO AND p.MCT_NO = m.MCT_NO AND  p.SCT_NO = s.SCT_NO AND p.BCT_NO =${bno} AND p.MCT_NO =${mno}
		GROUP BY s.SCT_NO
		ORDER BY CNT DESC

<!-- 		SELECT * FROM scategory WHERE dog  = -->
<!-- 			(SELECT rNum  -->
<!-- 			FROM (SELECT @rownum:=@rownum + 1 as rNum, -->
<!-- 			m1.* FROM mcategory m1, (SELECT @rownum:=0) t2 WHERE dog = 1) m2 -->
<!-- 			WHERE m2.mct_name = ${mct_name}) -->
	</select>
	
	
	

<!-- ==================================================================== -->	
	<!-- 중분류 개시글 그룹별 갯수  (카테고리 숫자)-->
	<select id="selectColCateList" parameterType="map" resultType="categoryVo">
		SELECT COUNT(*) CNT, b.*,  m.*, s.*
		FROM product p, bcategory b, mcategory m, scategory s
		WHERE p.BCT_NO = b.BCT_NO AND p.MCT_NO = m.MCT_NO AND p.SCT_NO = s.SCT_NO AND b.BCT_NO = ${bno} AND s.DOG = ${mno}
		GROUP BY s.SCT_NO
	</select>

<!-- ======================  대 분 류  =============================== -->	
	<select id="selectColBDetailList" parameterType="map" resultType="productVo">
		SELECT *
		FROM product p, bcategory b, brand br
		WHERE p.BCT_NO = b.BCT_NO AND  p.B_NO = br.B_NO AND p.BCT_NO = ${bno}
		LIMIT #{startList}, #{listSize}
	</select>
	
	
	<!-- 대분류 개시글 총 갯수  (카테고리 숫자)-->
	<select id="colBProductCnt" parameterType="map" resultType="Integer">
		SELECT COUNT(*) listCnt
		FROM product p, bcategory b
		WHERE p.BCT_NO = b.BCT_NO AND p.BCT_NO = ${bno}
		GROUP BY b.BCT_NO
		ORDER BY listCnt DESC
	</select>	


<!-- ======================  중 분 류  =============================== -->	
	
	<!-- 중분류(mCate) 카테고리  -->
	<select id="selectColMDetailList" parameterType="map" resultType="productVo">
		SELECT *
		FROM product p, scategory s, brand b
		WHERE p.SCT_NO = s.SCT_NO AND p.B_NO = b.B_NO AND p.MCT_NO = ${mno}
		LIMIT #{startList}, #{listSize}
	</select>
	
	<!-- 중분류 개시글 총 갯수  (카테고리 숫자)-->
	<select id="colProductCnt" parameterType="map" resultType="Integer">
		SELECT COUNT(*) listCnt
		FROM product p, mcategory m
		WHERE p.MCT_NO = m.MCT_NO AND p.MCT_NO = ${mno}
		GROUP BY m.MCT_NO
		ORDER BY listCnt DESC
	</select>	
	
	
<!-- ===================  소 분 류  =================================== -->		
	<!--  소분류(sCate) 별 카테고리 -->
	<select id="selectColSDetailList" parameterType="map" resultType="productVo">
		SELECT *
		FROM product p, mcategory m, scategory s, brand b
		WHERE p.SCT_NO = s.SCT_NO AND p.MCT_NO = m.MCT_NO AND p.B_NO = b.B_NO AND  p.SCT_NO = ${sno}
<!-- 		LIMIT #{startList}, #{listSize} -->
	</select>
	
	<select id="colSProductCnt" parameterType="map" resultType="Integer">
		SELECT COUNT(*) listCnt
		FROM product p, scategory s
		WHERE p.SCT_NO = s.SCT_NO AND s.SCT_NO = ${sno}
		GROUP BY s.SCT_NO
		ORDER BY listCnt DESC
	</select>
	
	
	
	
	
	<!-- 분류별(가격순, 최신순, 관련성순 등) 상품 찾기 -->
	
<!-- 	<select id="sortBy" parameterType="map" resultType="productVo"> -->
<!-- 		SELECT * FROM product ORDER BY ${col} -->
<!-- 	</select> -->
	
	

	
	

<!-- ==================================================================== -->
	


	
<!-- ==================================================================== -->	
	<!-- 브랜드 -->
	<select id="selectBrandList" parameterType="map" resultType="productVo">
		SELECT COUNT(*) AS CNT, b.* 
		FROM product p, brand b
		WHERE p.B_NO = b.B_NO AND p.BCT_NO = ${bno} AND b.Dog = 1
		GROUP BY b.B_NO
	</select>
	
	<!-- 중분류 별 브랜드 -->
	<select id="selectMBrandList" parameterType="map" resultType="productVo">
		SELECT COUNT(*) AS CNT, b.* FROM 
		product p , brand b, scategory s
		WHERE p.B_NO = b.B_NO AND p.SCT_NO = s.SCT_NO AND  p.BCT_NO = ${bno} AND s.dog = ${mno}
		GROUP BY b.B_NO
	</select>
	
	<!-- 소분류 별 브랜드 -->
	<select id="selectSBrandList" parameterType="map" resultType="productVo">
		SELECT COUNT(*) AS CNT, b.* FROM 
		product p , brand b, scategory s
		WHERE p.B_NO = b.B_NO AND p.SCT_NO = s.SCT_NO AND p.BCT_NO =${bno} AND p.MCT_NO = ${mno} AND  p.SCT_NO = ${sno}
		GROUP BY b.B_NO
	</select>
	
	

<!-- ==================================================================== -->
	<!-- 목록조회 -->
	<select id="sortBy" parameterType="map" resultType="productVo">
		SELECT p.*, b.*
		FROM product p, bcategory b, mcategory m, scategory s, brand br
		WHERE p.BCT_NO = b.BCT_NO AND p.MCT_NO = m.MCT_NO AND p.SCT_NO = s.SCT_NO AND p.B_NO = br.B_NO 
		AND p.BCT_NO = ${bno}
		ORDER BY ${col}
		LIMIT #{startList}, #{listSize}
	</select>
	
	<!-- 개시글 갯수 -->
	<select id="sortByCnt" resultType="Integer">
		SELECT count(*) as listCnt
		FROM product
	</select>
	
<!-- ==================================================================== -->		
	<!-- 체크 박스 ajax -->
	<select id="checkbox" parameterType="map" resultType="productVo">
<!-- 		SELECT * FROM -->
<!-- 		product p, brand b -->
<!-- 		WHERE p.B_NO = b.B_NO AND b.B_NO = ${bno} -->
		SELECT * FROM
		product p, brand b
		WHERE p.B_NO = b.B_NO AND b.B_NO = ${bno}
		UNION 
		SELECT * FROM
		product p, brand b
		WHERE p.B_NO = b.B_NO AND b.B_NO = ${bno}

	</select>	
	
	
		<!-- 카테고리 별 상품 찾기 -->
<!-- 	<select id="selectCategoryList" resultType="categoryVO"> -->
<!-- 		SELECT b.*, m.* -->
<!-- 		FROM bcategory b RIGHT JOIN mcategory m ON b.BCT_NO = m.BCT_NO -->
<!-- 		ORDER BY b.BCT_NO -->
<!-- 	</select> -->
	
	
	
	<!-- 	<select id="selectCateList" parameterType="map" resultType="categoryVo"> -->
<!-- 		SELECT * FROM scategory WHERE ${name} = -->
<!-- 			(SELECT rNum  -->
<!-- 			FROM (SELECT @rownum:=@rownum + 1 as rNum, -->
<!-- 			m1.* FROM mcategory m1, (SELECT @rownum:=0) t2 WHERE ${name} = 1) m2 -->
<!-- 			WHERE m2.mct_name = #{mctName}) -->
<!-- 	</select> -->
</mapper>