* {
	margin: 0;
}

main {
	font-size: 10px;
	padding-bottom: 40px;
}

.wrap {
	width: 970px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.wrap h1 {
	font-size: 2rem;
	color:#333;
	border:none;
	font-style: normal;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0.6rem;
}

.reset_Container {
	position: relative;
}

.reset_Container form{
	text-align: -webkit-center;
}

.a_wrap, .input_wrap, .button_wrap {
	margin-bottom: 1rem;
}

.a_wrap {
	background-color: white;
	font-size: 1.4em;
}

.input_wrap {
	width: 400px;
}

.input_wrap input {
	width: 100%;
	height: 50px;
	font-size: 1rem;
}

.input_wrap input::placeholder {
	font-size: 1rem;
}

.button_wrap button {
	background-color: #ef6c00;
	color: white;
	width: 200px;
	height: 48px;
	font-size: 1rem;
}
