main {
    font-size: 10px;
    padding-bottom: 40px;
    display: block;
}

.account_navi {
	z-index: 200;
}

.account_navi_wrap {
    background: #fcfcfc;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.1;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    right: 0;
    left: 0;
    z-index: 99;
    display: flex;
}

.account_navi_list {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;
    min-width: 140rem;
}

.account_navi_list, .main_wrap {
	padding: 0 60px;
}

.account_navi_list:before, .autoship_main:before, .autoship_main .main_wrap .autoship_mid:before, .autoship_main .main_wrap .autoship_mid:after {
   	content: "";
    display: table;
}

.orders_main .main_wrap .order_mid:after {
	clear: both;
}

.account_navi_list>li {
    margin: 0 0.8rem 0 0;
    display: inline-block;
    padding: 8px 2px;
    white-space: nowrap;
}

.account_navi_list>li>a {
	font-size: 16px;
	display: block;
    color: #333;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all .2s ease-out;
    line-height: 1;
}

.account_navi_list .autoship>a {
	background: #0e70be;
    color: #fff;
    border-color: #0e70be;
    cursor: default;
    
}

.account_navi_list .other>a:hover {
	border: 1px solid #0e70be;
	color: #0e70be;
}

main .autoship_main {
	min-width: 750px;
    max-width: 1400px;
    margin: auto;
    width: 100%;
    transition: width .2s ease-out;
    padding-top: 2rem;
}

.autoship_top {
	margin: 10px 0;
	padding: 5px 0;
}

.autoship_top>a {
	position: relative;
    font-weight: 400;
    text-decoration: none;
    color: #666;
}

.autoship_top>a, .autoship_top>span {
	font-size:15px;
}

.autoship_top>a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px dashed #bbb;
    transition: border .12s ease-out;
}

.autoship_top>span {
	font-weight: 500;
    color: #000;
}

.autoship_mid>h1 {
	padding: 0;
    margin-bottom: 3rem;
    font-size: 3.6rem;
    line-height: 1.1111111111;
    margin-top: -0.25em;
    font-weight: 300;
    color: #333;
    border: none;
}

.autoship_bottom, .autoship_mid>h1, .autoship_botoom>a {
	text-align: center;
}

.autoship_bottom>p {
	text-transform: none;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 15px;
}

.autoship_bottom>a {
    background-color: #ef6c00;
    color: #fff;
    border: 0.1rem solid #ef6c00;
    font-weight: 700;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    line-height: 1;
    font-size: 1.8rem;
    text-decoration: none;
    white-space: nowrap;
    padding: 1.4rem 3.5rem;
    margin-right: 1.5rem;
    outline: none;
    border-radius: 4px;
    transition: all,.4s,ease-out;
    box-sizing: border-box;
    touch-action: manipulation;
    user-select: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}